.is-possible-page {
  display: flex;
  align-self: center;
  text-align: left;
  width: 80%;
}

.is-possible-page h1 {
  font-weight: 400;
  margin: 50px 0;
}

.bold-text-p {
  font-weight: bold;
}

.is-possible-page h3 {
  font-weight: 400;
  margin-top: 20px;
}
